<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body style="background-color: #f0f1f2;">

	<!-- Navbar starts -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Ticket tracking System</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>





	<!-- Navbar Ends -->

	<h1>CREATE</h1>

	<div class="container p-4">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
					<h4 class="text-center text-primary">Create Ticket</h4>
					<div th:if="${/session.msg}">
					<h5 th:text="${/session.msg}"></h5>
					<th:block th:text=${#session.removeAttribute('msg')}">
					</th:block>
					</div>
						<form th:action="@{/save_ticket}" method="post">
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Enter Ticket Title
									</label> <input type="text" class="form-control"
									id="exampleInputEmail1" aria-describedby="emailHelp" name="tickettitle">
									
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Enter Ticket Description
									</label> <input type="text" class="form-control"
									id="exampleInputEmail1" aria-describedby="emailHelp" name="ticketdisc">
									
							</div>
					<!-- 		<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Enter Date
									</label> <input type="date" class="form-control"
									id="exampleInputEmail1" aria-describedby="emailHelp" name="">
									
							</div> -->
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous">
</body>
</html>